<div class="container mt-4 mb-5 text-light">
    <h3 class="mb-4 fw-bold text-primary"><i class="bi bi-person-gear me-2"></i> Actualizar Cliente</h3>

    @if (mensajeError()) {
    <div class="alert alert-danger bg-danger text-white shadow-lg border-0 fade show">
        <i class="bi bi-exclamation-triangle-fill me-2"></i>{{ mensajeError() }}
    </div>
    }

    @if (clienteOriginal()) {
    <app-cliente-form-component [clienteEditar]="clienteOriginal()" (cliente)="actualizarCliente($event)">
    </app-cliente-form-component>
    } @else {
    <div class="text-center mt-5 py-5 text-light">
        <div class="spinner-border text-primary" role="status"></div>
        <p class="mt-3 fw-bold">Cargando datos del cliente...</p>
    </div>
    }
</div>