<div class="container mt-4 mb-5 text-light">
    @if (mensajeError()) {
        <div class="alert alert-danger shadow-lg border-0 d-flex align-items-center fade show" role="alert">
        <i class="bi bi-exclamation-triangle-fill fs-4 me-3"></i>
        <div>
            {{ mensajeError() }}
        </div>
    </div>
    }
    <h3 class="mb-4 fw-bold text-warning"><i class="bi bi-building-add me-2"></i> Registrar Nuevo Proveedor</h3>
    <app-proveedor-form-component (proveedor)="crearProveedor($event)"></app-proveedor-form-component>
</div>