<div class="modal-backdrop fade show" style="z-index: 1065;"></div>

<div class="modal fade show d-block" tabindex="-1" style="z-index: 1070; background-color: rgba(0,0,0,0.6);">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-dark text-light border-danger border-2 shadow-lg">
            
            @if (clienteId != null) {
                <div class="modal-header border-secondary">
                    <h5 class="modal-title fs-5 fw-bold text-danger">Quitar Pasajero</h5>
                    <button type="button" class="btn-close btn-close-white"></button>
                </div>
                
                <div class="modal-body">
                    ¿Estás seguro de querer retirar a este pasajero de la reservación? 
                    Ya no formará parte de este viaje.
                </div>
                
                <div class="modal-footer border-secondary">
                    <button type="button" class="btn btn-secondary px-4" >Cancelar</button>
                    <button type="button" class="btn btn-danger px-4 fw-bold" (click)="confirmarCancelacion()">
                        Sí, Quitar Pasajero
                    </button>
                </div>
            }
            
        </div>
    </div>
</div>